body {
    background: plum;
color:aliceblue;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

.name_of_objects, #result_object_name, #result_object_accuracy
{
color:crimson;
font-size: 25px;
font-family: cursive;
}

label{
    color:rgb(248, 15, 112);
}

#camera, #result
{
    border: 2px dashed black;
    width: 350px;
    height: 350px;
}

#my_family
{
    font-size: 22px;
    font-family: cursive;
}
